.form-data {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5rem 3rem;
  padding-bottom: 17rem;
  color: #fff;
}

.form-data form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.form-data__item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-data__img {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-data__item img {
  width: 200px;
  height: 200px;
}

.form-txt {
  width: 70%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.form-data__item input {
  width: 70%;
  margin-top: 2rem;
  padding: 13px 5px;
  background-color: #383737;
  border: 1px solid #383737;
  border-radius: 5px;

  color: #fff;
}

.form-txt p {
  margin-top: 1rem;
}

.form-data__btn {
  margin: 0 auto;
  display: table;
}

.form-data__btn div {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  margin: 0 auto;
}

.prev,
.next {
  /* only modern browser */
  background-color: inherit;
  border: inherit;
  cursor: pointer;
}
.prev:not(:nth-child(1n + 3)),
.next:not(:nth-child(1n + 3)) {
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-indent: -9999px;
  width: 5em;
  height: 5em;
  position: relative;
  overflow: hidden;
}
.prev:not(:nth-child(1n + 3)):before,
.prev:not(:nth-child(1n + 3)):after,
.next:not(:nth-child(1n + 3)):before,
.next:not(:nth-child(1n + 3)):after {
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  content: "";
  position: absolute;
  left: 25%;
  right: 25%;
  height: 1px;
  background-color: #cd5c4d;
  top: 50%;
}
.prev:not(:nth-child(1n + 3)):hover:before,
.prev:not(:nth-child(1n + 3)):hover:after,
.next:not(:nth-child(1n + 3)):hover:before,
.next:not(:nth-child(1n + 3)):hover:after {
  opacity: 0.8;
}

.prev:not(:nth-child(1n + 3)):after {
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.prev:not(:nth-child(1n + 3)):before {
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.next:not(:nth-child(1n + 3)):after {
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.next:not(:nth-child(1n + 3)):before {
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ideacard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ideacard-img {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ideacard-img img {
  width: 100px;
  height: 100px;
}

.ideacard-txt {
  width: 60%;
}

.ideacard-txt p {
  margin-top: 1rem;
  text-align: left;
  font-size: 17px;
}

.ideacard-loader {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.ideacard-loader p {
  text-align: center;
}

.ideacard-links {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.ideacard-link {
  width: auto;
  background: blueviolet;
  color: #fff;
  border-radius: 6px;
  padding: 0.7rem 1rem;
  margin: 1rem;
  text-decoration: none;
}

.error {
  color: crimson;
  margin: 1.5rem 0;
}

@media screen and (max-width: 780px) {
  .form-data form {
    width: 100%;
  }

  .form-data__img {
    width: 200px;
    height: 200px;
  }
  .form-data__img img {
    width: 100%;
    height: 100%;
  }

  .form-txt {
    width: 90%;
  }

  .form-data__item input {
    width: 90%;
  }

  .ideacard-txt {
    width: 100%;
  }
}
