.registration-form {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  padding: 2rem;
}

.login-form {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #202020;
  color: #000;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.login-form button {
  width: 100%;
  padding: 8px;
  text-align: center;
  background: green;
  border: 1px solid green;
  margin-top: 1rem;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.login-form span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form button:hover {
  opacity: 0.8;
}

.form-input-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
  margin-top: 1.5rem;
}

.login-form input {
  padding: 10px;
  border-radius: 5px;
}

.form-link-txt {
  text-decoration: none;
  margin-top: 0.4rem;
  font-size: 0.9rem;
  color: rgb(90, 90, 231);
}

.form-link {
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;
}

.bouncing-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bouncing-loader > div {
  width: 8px;
  height: 8px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: #fffcfc;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.7;
    transform: translateY(-8px);
  }
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

.login-animation {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .login-form {
    width: 50%;
  }
}
@media screen and (max-width: 680px) {
  .login-form {
    width: 90%;
    padding: 0.5rem;
  }

  .login-form input {
    margin-top: 0.3rem;
    width: 100%;
  }

  .login-form button {
    width: 100%;
    padding: 8px;
    text-align: center;
    background: green;
    border: 1px solid green;
    margin-top: 1rem;
    color: #fff;
    border-radius: 5px;
  }

  .registration-form button {
    width: 100%;
    padding: 8px;
    text-align: center;
    background: green;
    border: 1px solid green;
    margin-top: 1rem;
    color: #fff;
    border-radius: 5px;
  }
}

.msg-noti {
  margin-top: 3rem;
  padding: 1rem;
  width: 60%;
  background: #fff;
  color: rgb(45, 170, 45);
  border-radius: 10px;
  text-align: left;
}

.error-message {
  background: #fff;
  color: red;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 7px;
}

.input-error {
  font-size: 14px;
  color: red;
  padding: 5px;
}
