.footer {
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 2rem 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-company {
  margin-top: 5rem;
}
